* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: serif;
  /* background: #bcbeff; */
}

.container {
  width: 100vw;
  min-height: 100vh;
  background: #fdfdff;
  transition: 1.5s;
}

.container.dark {
  background: #222;
}
